:root {

    --primary-color-header: #2fa563;
    --secondary-color-header: #35c375;
    --tertiary-color-header: #247f4d;
    --quaternary-color-header: #217144;
    --quinary-color-header: #298e54;
    
}